<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/main_home.css' %}">
</head>
<style>
  .home-wrapper{
    background: url("{% static 'images/table.jpg' %}");
  }
</style>
<body>
  <div class="home-wrapper">
    <div class="home-content">
      <div class="signin-signup">
        <h1><img width="100" src="{% static 'images/anana.png' %}" alt="">Saytiga Xush Kelibsiz</h1>
        {% if user.is_authenticated %}
          <p>
            <span class="hi">Assalomu Aleykum,  {{ user.username }}!</span> 
            <button class="border-btn open-btn">Tizimdan chiqish</button>
          </p>
          <br>
          <br>
          <a class="white-btn" href="{% url "homepage" %}">Saytga tashrif buyurish uchun shu yerni bosing!</a>
        {% else %}
          <p>
            <a class="border-btn" href="{% url 'account_login' %}">Tizimga kirish</a>
            <a class="white-btn" href="{% url 'account_signup' %}">Ro'yxatdan o'tish</a>
          </p>
        {% endif %}
      </div>
    </div>
    <div class="modal-bg">
      <div class="modal">
        <h1>Haqiqatan ham hisobingizdan chiqmoqchimisiz?</h1>

        <div class="yes-no">
          <a class="white-btn" href="{% url "account_logout" %}">Ha</a>
          <button class="border-btn close-btn">Yo'q</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const modalBg = document.querySelector('.modal-bg');
    const openBtn = document.querySelector('.open-btn');
    const closeBtn = document.querySelector('.close-btn');
    
    function ModalFn() {
        if (modalBg.classList.contains('active')) {
            modalBg.classList.remove('active');
            setTimeout(() => {
                modalBg.style.display = 'none';
            }, 300); // время совпадает с CSS transition
        } else {
            modalBg.style.display = 'flex';
            setTimeout(() => {
                modalBg.classList.add('active');
            }, 10); // небольшой таймаут для применения display
        }
    }
    
    openBtn.addEventListener('click', ModalFn);
    closeBtn.addEventListener('click', ModalFn);
  </script>
</body>
</html>
