<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/main_home.css' %}">
</head>
<style>
  .home-wrapper{
    background-image: url('static/media/welcomeImg.jpg');
  }
</style>
<body>
  <div class="home-wrapper">
    <div class="home-content">
      <div class="signin-signup">
        <h1>Welcome to the QITCHEN Website!</h1>
        {% if user.is_authenticated %}
          <p>
            <span class="hi">Hi, {{ user.username }}!</span> 
            <a class="border-btn" href="{% url 'account_logout' %}">Sign Out</a>
          </p>
          <br>
          <br>
          <a class="white-btn" href="homepage/">Click here to visit site!</a>
        {% else %}
          <p>
            <a class="border-btn" href="{% url 'account_login' %}">Sign In</a>
            <a class="white-btn" href="{% url 'account_signup' %}">Sign Up</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>
