<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile-wrapper">
        <div class="profile">
            <div class="profile-container">
                <h1 class="username">{{obj.user.username}}</h1>
                <b>Игры, которые загрузил пользователь</b>
           </div>
        </div> 
    </div>

    <a href="{% url 'user_order_list'  %}">My orders</a>
    <a href="{% url 'order_menuItem' menuitem.id %}">Create order</a>

</body>
</html>