{% load socialaccount %}
{% load account %}

<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-content">
        <div class="sign-in">
          <h1>Sign In</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="border-btn">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <style>
    * {
      margin: 0 auto;
      padding: 0;
      transition: 0.5s;
    }
    html,
    .login-wrapper {
      background: url('/static/media/welcomeImg.jpg');

    }

  </style>
</html>
