@import './settings';


.menu-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 88vh;
    gap:10px;
    .right{
        background-image: url("../images/dark.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 10px;
        overflow: scroll;
        overflow-x: hidden;
        height: 100%;
        padding: 0 5vh;
        .buttons{
            display: flex;
            justify-content: center;
            margin:20px 0;
            gap: 5px;
        }
        #menu-items{
            display: grid;
            flex-direction: column;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            .menu-item{
                    border: 3px solid $border-color;
                    border-radius: 10px;
                    padding: 10px;
                    color: $text-color;
                    font-family: "Montserrat", sans-serif;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;
                
            }
        }
    }
}