@import './settings.scss';

.main-reservation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 88vh;
    .left-4{
        background-image: url('../images/somsa.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    }
    .right-4{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         form{
            width: 500px;
            display: flex;
            flex-direction: column;
            
            gap: 10px;
            button{
                // margin-top: 10px;
            }
            a{
                text-align: center;
            }
            div{
                label{
                    display: none;
                }
                input, select{
                    @extend %input-style;
                    width: 100%;
                }
            }
         }
    }
}