{% extends "base.html" %}
{% load static %}
{% block title %}
My Orders
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/my-orders.css' %}">
<style>
    .my-order-wrapper{
        background: url("{% static 'images/plov4k.jpeg' %}") no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock css %}

{% block content %}
<div class="my-order-wrapper">
    <div class="my-order-content">
        <div class="my-order">
            <h1>Mening Buyurtmalarim</h1>
            
            <ul>
                {% for order in orders %}
                    <li>
                        <span><b>Ismi: </b>{{ order.customer_name }}<br/> </span>
                        <span><b>Maxsulot Nomi: </b>{{ order.product_name }}<br/></span>
                        <span><b>Miqdori: </b>{{ order.quantity }}<br/></span>
                        <span><b>Narxi: </b>{{ order.price }}<br/></span>
                        <span><b>Muallif: </b>{{ order.author_of_order }}<br/></span>
                        
                        
                        
                        
                        <div class="btns">
                            <a class="white-btn" href="{% url 'order-edit-view' order.pk %}">O'zgaritirish</a>
                            <a class="border-btn" href="{% url 'order-delete-view' order.pk %}">O'chirib tashlash</a>
                        </div>
                    </li>
                {% empty %}
                    <li>Buyurmalar Berilmagan.</li>
                {% endfor %}
            </ul>
            <div class="back">

                <a class="border-btn back-btn"  href="{% url 'profile' %}">Buyurtmalar Ro'yxatiga o'tish</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
