<!-- orders/templates/orders/order_confirm_delete.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Oʻchirishni tasdiqlang</title>
</head>
<body>
    <h1>Oʻchirishni tasdiqlang</h1>
    <p>Haqiqatan ham quyidagi tartibni oʻchirib tashlamoqchimisiz?</p>
    <p>Mijoz nomi: {{ order.customer_name }}</p>
    <p>Mahsulot nomi: {{ order.product_name }}</p>
    <p>Miqdori: {{ order.quantity }}</p>
    <p>Narxi: {{ order.price }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Oʻchirishni tasdiqlang</button>
    </form>
    <a href="{% url 'myorders' %}">Bekor qilish</a>
</body>
</html>
