{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
    <h1>Order List</h1>
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'order-detail-view' order.id %}">
                    {{ order.customer_name }} - {{ order.product_name }} - {{ order.quantity }} - {{ order.price }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'order-create-view' %}">Create New Order</a>
</body>
</html> {% endcomment %}



<!-- orders/templates/orders/order_list.html -->
{% for order in orders %}
<li>
    {{ order.customer_name }} - {{ order.product_name }} - {{ order.quantity }} - {{ order.price }} - {{ order.author_of_order }}
    <a href="{% url 'order-edit-view' order.pk %}">Tahrirlash</a>
    <a href="{% url 'order-delete-view' order.pk %}">Oʻchirish</a>
</li>
{% empty %}
<li>Buyurtmalar mavjud emas.</li>
<a href="{% url 'order-create-view' %}">Buyurtma yaratish sahifasiga qaytish</a>

{% endfor %}

