
{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/order_form.css' %}">
{% endblock css %}
{% block content %}
<div class="order-form-wrapper">
<div class="left">

</div>
<div class="right">
    <h1>{% if edit %}Edit Order{% else %}Create Order{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="white-btn" type="submit">{% if edit %}Update{% else %}Create{% endif %}</button>
        <a class="border-btn" href="{% url 'order-list-view' %}">Back to Order List Page</a>
    </form>
</div>
</div>
<style>
    .left{
        background: url("{% static 'media/tea.jpg' %}");
    }
</style>

{% endblock content %}
