{% comment %} <!-- orders/templates/orders/order_form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% if edit %}Edit Order{% else %}Create Order{% endif %}</title>
</head>
<body>
    <h1>{% if edit %}Edit Order{% else %}Create Order{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if edit %}Update{% else %}Create{% endif %}</button>
    </form>
    <a href="{% url 'profile-page-view' %}">Back to Profile Page</a>
</body>
</html> {% endcomment %}


<!-- orders/templates/orders/order_form.html -->
{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
</form> {% endcomment %}

<h1>{% if edit %}Edit Order{% else %}Create Order{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if edit %}Update{% else %}Create{% endif %}</button>
</form>
<a href="{% url 'order-list-view' %}">Back to Profile Page</a>

