{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/menu.js' %}" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    {% block css %}

    {% endblock %}
  </head>
  <body style="background-color: #111;">
    <header>
      {% include 'navbar.html' %}
    </header>
    {% block content %}

    {% endblock %}
    <div class="menu-nav">
      <ul>
        <li>
          <img src="{% static 'images/Grid.png' %}" alt="" />
        </li>
        <li>
          <a href="/menu">Menyu</a>
        </li>
        <li>
          <a href="/menu/make_reservation">Bron qilish</a>
        </li>
        <li>
          <a href="/about">Biz Haqimizda</a>
        </li>
        <li>
          <a href="{% url "contacts" %}">Kontaktlar</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <img src="{% static 'images/Grid.png' %}" alt="" />
        </li>
      </ul>
      <a id="closeMenu" class="close-menu"><h1>X</h1></a>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const burgerMenu = document.querySelector('#burgerMenu')
        const menuNav = document.querySelector('.menu-nav')
        const closeMenu = document.querySelector('#closeMenu');
        function ModalFn() {
          if (menuNav.classList.contains('active')) {
            menuNav.classList.remove('active')
            setTimeout(() => {
              menuNav.style.display = 'none'
            }, 300)
          } else {
            menuNav.style.display = 'flex'
            setTimeout(() => {
              menuNav.classList.add('active')
            }, 10)
          }
        }
        burgerMenu.addEventListener('click', ModalFn)
        closeMenu.addEventListener('click', ModalFn); 
        // Toastify for displaying messages
        {% if messages %}
          {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3000,  // Duration of the toast in milliseconds
              gravity: "top",  // `top` or `bottom`
              position: "right",  // `left`, `center` or `right`
              backgroundColor: "#4CAF50",  // Background color of the toast
            }).showToast();
          {% endfor %}
        {% endif %}
      })
    </script>
  </body>
  <style>


    .close-menu{
      position: absolute;
      top: 5%;
      left: 2%;
      cursor: pointer;
    }
  </style>
</html>
