{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/menu.js' %}" defer></script>

    {% block css %}

    {% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
    <div class="menu-nav">
      <ul>
        <li>
          <img src="{% static 'media/Grid.png' %}" alt="" />
        </li>
        <li>
          <a href="#">Menu</a>
        </li>
        <li>
          <a href="#">Reservation</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <img src="{% static 'media/Grid.png' %}" alt="" />
        </li>
      </ul>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const burgerMenu = document.querySelector('#burgerMenu')
        const menuNav = document.querySelector('.menu-nav')
        function ModalFn() {
          if (menuNav.classList.contains('active')) {
            menuNav.classList.remove('active')
            setTimeout(() => {
              menuNav.style.display = 'none'
            }, 300)
          } else {
            menuNav.style.display = 'flex'
            setTimeout(() => {
              menuNav.classList.add('active')
            }, 10)
          }
        }
        burgerMenu.addEventListener('click', ModalFn)
      })
    </script>
  </body>
</html>
