{% extends 'base.html' %}
{% load static %}

{% block css %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
  ymaps.ready(init)
  function init() {
    var myMap = new ymaps.Map('map', {
      center: [39.646631, 66.923375], // Координаты центра карты
      zoom: 20 // Масштаб карты
    })
  }
</script>
  <link rel="stylesheet" href="{% static 'css/contacts.css' %}" />
  <style>
    .contacts-wrapper .left{
      background-image: url("{% static 'images/uzbRestaurant.jpg' %}");

    }
    .contacts-wrapper .right .n-2 .photo-1{
      background-image: url("{% static 'images/shashlik.jpg' %}");
    }
    .contacts-wrapper .right .n-2 .photo-2{
      background-image: url("{% static 'images/lepeshki.jpg' %}");
    }
    .contacts-wrapper .right .n-2 .photo-3{
      background-image: url("{% static 'images/kazan-kabob-1.jpg' %}");
    }
    .contacts-wrapper .right .n-2 .photo-4{
      background-image: url("{% static 'images/plov4k.jpeg' %}");
    }
  </style>
{% endblock %}

{% block content %}
  <div class="contacts-wrapper">
    <div class="left"></div>
    <div class="right">
      <div class="card n-1">
        <div class="top">
          <h2>Opening <br /> Hours</h2>
        </div>
        <div class="bottom">
          <div class="monday">
            <div class="left-part">
              <p>Monday</p>
            </div>
            <div class="right-part">
              <p>16:00 - 22:30</p>
            </div>
          </div>
          <div class="monday">
            <div class="left-part">
              <p>Tuesday</p>
            </div>
            <div class="right-part">
              <p>16:00 - 22:30</p>
            </div>
          </div>
          <div class="monday">
            <div class="left-part">
              <p>Wednesday</p>
            </div>
            <div class="right-part">
              <p>16:00 - 22:30</p>
            </div>
          </div>
          <div class="monday">
            <div class="left-part">
              <p>Thursday</p>
            </div>
            <div class="right-part">
              <p>16:00 - 22:30</p>
            </div>
          </div>
          <div class="monday">
            <div class="left-part">
              <p>Friday</p>
            </div>
            <div class="right-part">
              <p>16:00 - 22:30</p>
            </div>
          </div>
          <div class="monday">
            <div class="left-part">
              <p>Sat & Sun</p>
            </div>
            <div class="right-part">
              <p>16:00 - 22:30</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card n-2">
        <div class="photo-1"></div>
        <div class="photo-2"></div>
        <div class="photo-3"></div>
        <div class="photo-4"></div>
      </div>
      <div class="card n-3">
        <div id="map" style="width: 100%; height: 300px"></div>
      </div>
      <div class="card n-4">
        <div class="col-title"><h2>Get in touch</h2></div>
        <div class="col">
          <p>Address</p>
          <p>23 Greenfield Avenue, <br> Prague 120 00</p>
        </div>
        <div class="col">
          <p>Phone</p>
          <p>+42 1234 567890</p>
        </div>
        <div class="col">
          <p>Email</p>
          <p>hello@example.com</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

{% endblock %}
