{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <div class="container">
    <div class="slide">
      <div class="item" style="background-image: url({% static 'media/plov4k.jpeg' %});">
        <div class="content">
          <div class="name">Lorem</div>
          <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
          
        </div>
      </div>
      <div class="item" style="background-image: url({% static 'media/tea.jpg' %});">
        <div class="content">
          <div class="name">Lorem</div>
          <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
   
        </div>
      </div>
      <div class="item" style="background-image: url({% static 'media/stol_uz.png' %});">
        <div class="content">
          <div class="name">Lorem</div>
          <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>

        </div>
      </div>
      <div class="item" style="background-image: url({% static 'media/shashlik.jpg' %});">
        <div class="content">
          <div class="name">Lorem</div>
          <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>

        </div>
      </div>
      <div class="item" style="background-image: url({% static 'media/shurpa.jpg' %});">
        <div class="content">
          <div class="name">Lorem</div>
          <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>

        </div>
      </div>
      <div class="item" style="background-image: url({% static 'media/banket.jpg' %});">
        <div class="content">
          <div class="name">Lorem</div>
          <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>

        </div>
      </div>
     
    </div>

    <div class="button">
      <button class="prev white-btn"><i class="fa-solid fa-arrow-left"></i></button>
      <button class="next white-btn"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
  <script>
    let next = document.querySelector('.next');
    let prev = document.querySelector('.prev');
    
    function nextSlide() {
      let items = document.querySelectorAll('.item');
      document.querySelector('.slide').appendChild(items[0]);
    }
    
    function prevSlide() {
      let items = document.querySelectorAll('.item');
      document.querySelector('.slide').prepend(items[items.length - 1]);
    }
    
    next.addEventListener('click', nextSlide);
    prev.addEventListener('click', prevSlide);
    
    // Автоскролл каждые 3 секунды
    setInterval(nextSlide, 3000);
  </script>
{% endblock %}
