{% load static %}

<div class="menu-container">
  <div class="burger-menu" id="burgerMenu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="nav" id="navMenu">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <div class="main-links">
    <a href="/homepage" class="qitchen">Qitchen</a>
    <a href="/menu_item">Menu</a>
    <a href="/about">About</a>
    <a href="/menu/make_reservation">BOOK A TABLE</a>
    <a href="/menu">Crud</a>
    <a href="{% url "profile_page" request.user.username %}">{{request.user.username}}</a>
  </div>
</div>
