{% load static %}

<div class="menu-container">
  <div class="burger-menu" id="burgerMenu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="main-links">
    <a href="/homepage" class="qitchen"><img width="100" src="{% static 'media/anana.png' %}" alt=""></a>
    <a href="/menu_item">Menu</a>
    <a href="/about">About</a>
    <a href="/menu/make_reservation">BOOK A TABLE</a>
    <a href="/menu">Crud</a>
    <a class="user" href="{% url "profile_page" request.user.username %}">{{request.user.username}}</a>
  </div>
  
</div>
