{% load static %}

<div class="menu-container">
  <div class="burger-menu" id="burgerMenu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <div class="main-links">
    <a href="/homepage" class="qitchen"><img width="100" src="{% static 'images/anana.png' %}" alt=""></a>
    <a href="/menu_item">Menyu</a>
    <a href="/about">Biz Haqimizda</a>
    <a href="/menu/make_reservation">STOLNI BRON QILISH</a>
    
    {% if request.user.username == 'admin' %}
    <a href="{% url "menu_create" %}">Ovqatlar To'plami</a>  
    {% endif %}
    <a class="user" href="{% url "profile" request.user.username %}">{{request.user.username}}</a>
  </div>
  
</div>
